# ML miniproject #4

* 레드 와인 품질 예측

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('winequality-red.csv')

In [3]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

-> quality가 비슷한 라벨이 연속으로 나옴 -> 데이터 섞어주기

In [4]:
from sklearn.utils import shuffle
df = shuffle(df)

In [5]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
858,11.7,0.28,0.47,1.7,0.054,17.0,32.0,0.99686,3.15,0.67,10.6,7
347,13.8,0.49,0.67,3.0,0.093,6.0,15.0,0.99860,3.02,0.93,12.0,6
369,9.4,0.27,0.53,2.4,0.074,6.0,18.0,0.99620,3.20,1.13,12.0,7
872,7.3,0.35,0.24,2.0,0.067,28.0,48.0,0.99576,3.43,0.54,10.0,4
561,9.0,0.44,0.49,2.4,0.078,26.0,121.0,0.99780,3.23,0.58,9.2,5

In [6]:
X = df.drop(['quality'], axis=1) # quality 제거
X

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
858,11.7,0.28,0.47,1.7,0.054,17.0,32.0,0.99686,3.15,0.67,10.6
347,13.8,0.49,0.67,3.0,0.093,6.0,15.0,0.99860,3.02,0.93,12.0
369,9.4,0.27,0.53,2.4,0.074,6.0,18.0,0.99620,3.20,1.13,12.0
872,7.3,0.35,0.24,2.0,0.067,28.0,48.0,0.99576,3.43,0.54,10.0
561,9.0,0.44,0.49,2.4,0.078,26.0,121.0,0.99780,3.23,0.58,9.2
...,...,...,...,...,...,...,...,...,...,...,...
1473,6.1,0.60,0.08,1.8,0.071,14.0,45.0,0.99336,3.38,0.54,11.0
427,9.5,0.78,0.22,1.9,0.077,6.0,32.0,0.99880,3.26,0.56,10.6
1289,7.0,0.60,0.30,4.5,0.068,20.0,110.0,0.99914,3.30,1.17,10.2
528,8.2,0.42,0.49,2.6,0.084,32.0,55.0,0.99880,3.34,0.75,8.7
923,6.8,0.41,0.31,8.8,0.084,26.0,45.0,0.99824,3.38,0.64,10.1

In [7]:
y = df['quality'] # 데이터셋에서 quality만 분리
y

858     7
347     6
369     7
872     4
561     5
       ..
1473    5
427     6
1289    5
528     6
923     6
Name: quality, Length: 1599, dtype: int64

# RandomForestRegressor

In [8]:
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor(n_estimators=100,random_state=42)
forest_reg.fit(X, y)

RandomForestRegressor(random_state=42)

In [11]:
from sklearn.model_selection import cross_val_score

forest_scores = cross_val_score(forest_reg, X, y,
                                scoring="neg_mean_squared_error", cv=10) # 교차 검증
forest_rmse_scores = np.sqrt(-forest_scores)
forest_rmse_scores

array([0.57912218, 0.56767178, 0.49056855, 0.53280097, 0.5464825 ,
       0.54955266, 0.55349402, 0.67106585, 0.53837951, 0.6273013 ])

In [12]:
forest_rmse_scores.mean()

0.5656439316794026